python-dotenv
pymupdf
numpy
torch
Pillow
langchain-community
langchain-core
langchain-text-splitters
scikit-learn
transformers
faiss-cpu # or faiss-gpu if you have a compatible GPU
langchain-google-genai

# Web + ASGI server for the API
fastapi
uvicorn[standard]